/* Base de Documento */ 
:root{
--azul:#34a8a4;
--verde:#74DB7D;
--amarillo:#F7F984;
--morado:#A0ACD9;
--rosa:#FC35D3;
--azulc:#36C3FF;
--amarillo:#FCD103;
--mostaza:#B0930B;  

}

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    scroll-snap-type: y mandatory;
   
}



*, *:before, *:after {
    box-sizing: inherit;
  }

 .edwin{
     font-size: 3rem;
 }

h1,h2,h3{
text-align: center;

}


body{
    font-size: 16px;
   background-image: linear-gradient(to top, #F5F4EB 0%,white 100%);
}

h1{
   
    font-size: 2rem;
    
}


span{
    font-size: 1rem;
}

.contenedor{
max-width: 120rem;
margin: 0 auto;




}

/* navegador */
.nave{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
}

@media(min-width:480px) {
    .nave{}
}

@media(min-width:768px) {
   .nave{flex-direction:row;
    justify-content:space-evenly;


    }
}

@media(min-width:1140px) {
    
}

@media(min-width:1400px) {
    
}

.nave a{
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
   font-weight: bold;
   padding: 1rem;
}

/* utilidades */

.bg{
    background-color: var(--azul);
}

.nave a:hover{
background-color:var(--amarillo);
}

.diseño{
    background-image: url(./img/imagen.JPG);
background-size: cover;
height: 30rem;
background-repeat:no-repeat ;
position: relative;
}

.contenido-diseño{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0 0 0/70%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;

}

.contenido-diseño a{
    text-decoration: none;
}

/* boton de contacto */

.boton{
   background-color: #34a8a4;
   color: white;
   padding:1rem 2rem;
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: bold;
   width: 90%;
   text-align: center;
   border-radius: .5rem;
   border: none;

}

.w100{
    width: 100%;
}

.flex{
    display: flex;
}

.alinear{
    justify-content: flex-end;
}

@media(min-width:768px) {
    .contenedor-campo{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }
    
}

.campo:nth-child(3),.campo:nth-child(4){
    grid-column: 1/3;

}


.boton:hover{
cursor: pointer;
}

@media(min-width:768px) {
    .boton{
        width: auto;
    }
    
}

.sombra{
    webkit-box-shadow: 4px 2px 15px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 15px -3px rgba(0,0,0,0.75);
box-shadow: 4px 2px 15px -3px rgba(0,0,0,0.75);
background-color:#15d4cee5;
border-radius: 10%;
}


.serv
.nave{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* servicios */
@media(min-width:768px) {
    

.serv{
    display:grid;
 grid-template-columns: repeat(3,1fr);
 column-gap: 1rem;

}
}


.serv1{
display: flex;
flex-direction: column;
align-items: center;
}

.serv h3{
color:white;
font-weight: normal;
}



.serv1 .icono{

    height: 15rem;
    width: 15rem;
  background-color: #FCD103;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}

.serv1 p{
    line-height: 2;
    text-align: center;
    color: white;
}

.miserv{
    color: white;
}

/* contacto */
.formulario{
    background-color: var(--amarillo);
    width: min(60rem,100%);
    margin:0 auto
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;

}

.campo{
    margin-bottom: 1rem;
    text-align: center;
}

.campo label{
   display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}


.legend{
  padding-top: 1rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;

}

.text{
    height:20rem;
}

.enviar .boton{
width: 100%;
}

/* footer */
.footer{
    text-align: center;
}
